<strong>Hello,  {{ provider }} </strong>
<p>A appointment was canceled, check out the details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <br />

  <small>
    Appointments are available for schedule again.
  </small>
</p>
